@font-face {
  font-family: "TitilliumWeb";
  src: url(font/TitilliumWeb-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "TitilliumWeb";
  text-decoration: none;
}
body {
  background-color: black;
  width: 95%;
  margin: auto;
}
.banner {
  height: 95px;
  padding: 10px;
  padding: 10px;
  background-image: url(images/starfield-banner.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  width: 95%;
  margin: auto;
}
.logo-top {
  height: 95px;
  width: 95px;
  background-image: url(images/nasa-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 20px;
}
.header {
  height: 90px;
  padding: 10px;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.icon-menu {
  display: none;
}
.icon-share {
  height: 28px;
  width: 28px;
  padding-left: 4px;
  padding-top: 4px;
}
.search {
  padding: 5px;
  padding-left: 10px;
  height: 25px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
}
.search-icon {
  height: 28px;
  width: 28px;
  background-image: url(images/search.svg);
  margin: 4px;
  background-color: transparent;
  border-style: none;
  position: relative;
  right: -135px;
  outline-width: 0;
  cursor:pointer;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: -28px;
}
.menu {
  display: flex;
  align-items: center;
  margin-top: -12px;
}
.menu-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-text {
  color: #ffffff;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.menu-container:hover {
  background-color: rgb(21, 65, 140);
  cursor:pointer;
}
.special {
  display: none;
}
.with-border {
  border-right-color: rgba(255, 255, 255, 0.5);
  border-right-style: solid;
  border-right-width: 1px;
}
.option {
  display: flex;
  align-items: center;
}
.option-container {
  background-color: rgba(255, 255, 255, 0.3);
  height: 35px;
  display: flex;
  align-items: center;
}
.option-container:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor:pointer;
}
.option-text {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  padding-left: 13px;
  padding-right: 13px;
}
.container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: repeat(4, 260px);
  grid-row-gap: 13px;
  grid-column-gap: 13px;
  padding-top: 110px;
  margin-bottom: 25px;
}
.content {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
}
.content .title {
  background-color: rgba(93, 127, 185, 0.8);
  width: fit-content;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content .title:hover {
  background-color: rgba(93, 127, 185, 1);
}
.content .abstract {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  width: auto;
  font-size: 17px;
  line-height: 21px;
  font-weight: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.content .abstract:hover {
  background-color: rgba(255, 255, 255, 1);
}
.information {
  color: #ffffff;
  font-size: 13px;
}
.information .title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff;
  line-height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.information .abstract {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 15px;
  display: block;
  color: #ffffff;
}
.information .abstract:hover {
  text-decoration: underline;
}
.information .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.information .left, .information .right{
  color: #ffffff;
}
.information .left:hover, .information .right:hover {
  text-decoration: underline;
}
.video-univ {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.camera-triangle {
  height: 50px;
  width: 50px;
  position: absolute;
  top:0;
  right: 0px;
  background: linear-gradient(to bottom left , #000000 33px, transparent 1px);
  display: flex;
  flex-direction: row-reverse;
}
.camera {
  width: 40%;
  height: 40%;
}

.box1 {
  background-image: url(images/pia21924-16.jpg);
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.box2 {
  background-image: url(images/mollweide_cycle.jpg);
}
.box3 {
  background-color: #45709a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box4 {
  background-image: url(images/s69-39961.jpg);
  grid-column: 3 / span 2;
}
.box5 {
  background-image: url(images/ssc2017-14a1.jpg);
  position: relative;
}
.box6 {
  background-image: url(images/pia22556-16.gif);
  grid-column: 2 / span 2;
}
.box7 {
  background-color: #45709a;
  overflow: hidden;
}
.box8 {
  background-image: url(images/nasa_logo.png);
} 
.box9 {
  background-image: url(images/io-home.gif);
  position: relative;
}
.box10 {
  background-image: url(images/cassini20170809.jpg);
}
.box11 {
  background-image: url(images/fermiicecube_as.jpg);
} 
.more {
  display: block;
  color: #ffffff;
  background-color: #15418c;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
}
.more:hover {
  background-color: #5d7fb9;
}
.footer {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
}
.logo-buttom {
  width: 70px;
  height: 70px;
  background-image: url(images/nasa-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.institution p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.list a {
  color: rgb(93, 127, 185);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
.list a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1250px) { /*字体小一号*/
  .menu-text {
    font-size: 13px;
  }
} 

@media screen and (max-width: 1150px) { /*字体再小一号*/
  .menu-text {
    font-size: 12px;
  }
  .option-text {
    font-size: 10px;
  }
  .footer {
    margin-left: 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .list a {
    padding-left: 0;
    line-height: 16px;
  }
  .footer {
    flex-direction: column;
  }
} 
@media screen and (max-width: 1024px) { /*没有导航栏*/
  .nav {
    display: none;
  }
  .header {
    align-items: center;
  }
  .icon-share {
    height: 30px;
    width: 30px;
  }
  .search {
    height: 30px;
    width: 150px;
  }
  .search-icon {
    height: 30px;
    width: 30px;
    right: -160px;
  }
  .logo-top {
    height: 75px;
    width: 75px;
    top: 30px;
  }
  .special {
    margin-right: -30px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .special .menu-text {
    font-size: 20px;
  }
  .icon-menu {
    height: 15px;
    width: 15px;
    display: block;
  }
} 
@media screen and (max-width: 990px) { /*两栏布局*/
  .container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
  }
  .box1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .box4 {
    grid-column: 1 / span 1;
  }
  .box6 {
    grid-column: 1 / span 1;
  }
} 
@media screen and (max-width: 768px) { /*一栏布局*/
  .container {
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  }
  .box1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .box4 {
    grid-column: 1 / span 1;
  }
  .box6 {
    grid-column: 1 / span 1;
  }
} 